extends layout
include components/breadcrumb

block content
  h2 Breadcrumb

  +breadcrumb()
    li.breadcrumb-item.active(aria-current="page") Home

  +breadcrumb()
    li.breadcrumb-item
      a(href="#") Home
    li.breadcrumb-item.active(aria-current="page") Library

  +breadcrumb()
    li.breadcrumb-item
      a(href="#") Home
    li.breadcrumb-item
      a(href="#") Library
    li.breadcrumb-item.active(aria-current="page") Data
