//- Bootswatch theme mixins by Kezz Bracey
//- https://github.com/tutsplus/baking-bootstrap-snippets-with-jade
//- Author:  http://tutsplus.com/authors/kezz-bracey
mixin bootswatch(theme)
    link(href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/" + theme + "/bootstrap.min.css", rel="stylesheet")