extends ../_bootstrap
append styles
	//	!-- Custom styles for this template --
	link(href="../css/cover.css", rel="stylesheet")

block body
	.site-wrapper
		.site-wrapper-inner
			.cover-container
				.masthead.clearfix
					.inner
						h3.masthead-brand Cover
						nav
							ul.nav.masthead-nav
								li.active 
									a(href="#") Home
								li
									a(href="#") Features
								li
									a(href="#") Contact
				.inner.cover
					h1.cover-heading Cover your page.
					p.lead Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.
					p.lead
					a(href="#", class="btn btn-lg btn-default") Learn more

				.mastfoot
					.inner
						p Cover template for <a href="http://getbootstrap.com">Bootstrap </a>, by <a href="https://twitter.com/mdo">@mdo</a>.