nav.col-md-3.col-lg-2.d-md.block.bg-light.sidebar
  .sidebar-sticky.pt-3
    ul.nav.flex-column
      li.nav-item
        a.nav-link(href="/accordion") Accordion
      li.nav-item
        a.nav-link(href="/alerts") Alerts
      li.nav-item
        a.nav-link(href="/badges") Badges
      li.nav-item
        a.nav-link(href="/breadcrumb") Breadcrumb
      li.nav-item
        a.nav-link(href="/card") Cards
      li.nav-item
        a.nav-link(href="/buttons") Buttons
